#dropdown-basic::after {
    content: none;
  }

.no-underline{
  text-decoration: none;
  color: black;
} 


 .pagination .page-link{  
  color: #5556a6;
  
}

.page-link.active:focus{
  background-color: #5556a6;
  color: #fff;
  box-shadow: none;
}

.page-link.active{
  background-color: #5556a6;
  color: #fff;
  box-shadow: none;
}

.textcolor{
  color: rgb(85 86 166);
}